# DVC
/data/documents
!.dvc

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Kubeflow


# Env
.env
myvenv/

k8s

#CI/CD Hosted runners
actions-runner
all-MiniLM-L6-v2-model
minikube-network.sh
kserve